* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0px;
}
#logo {
  font-size: 24px;
  color: #f9faf8;
}

#logo,
.banner-left-side {
  width: 350px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.header-and-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: end;
}
.header {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}
li {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 20px;
  width: 450px;
}
ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
.banner,
.header {
  background-color: #1f2937;
}

.banner > img {
  width: 450px;
  height: 250px;
}
.hero-secondary-text,
a {
  color: #e5e7eb;
  font-size: 18px;
  width: 520px;
}
.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 75px 0px;
}

.banner-left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.banner-left-side > button {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882f6;
  padding: 10px 50px;
  border-radius: 7px;
  border: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-pics {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 7px;
}
.info > p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding: 30px 0px;
}

.info-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 50px;
  padding: 0px 0px 60px 0px;
}

.info-content > div {
  width: 150px;
}

.quote {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}

#quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  width: 800px;
}
#quote-author {
  align-self: flex-end;
  width: 800px;
}

.call-to-action {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
  background-color: #3882f6;
  width: 1000px;
}
